<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="castle"
             type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />
	</configSections>
	<connectionStrings>
		<add name="Default" connectionString="Data Source=localhost\sqlexpress;Integrated Security=SSPI;Initial Catalog=Alexandria"/>
	</connectionStrings>
	<castle>
		<facilities>
			<facility id="rhino.esb" >
				<bus threadCount="1"
             numberOfRetries="5"
             endpoint="rhino.queues://localhost:51231/alexandria_backend"
						 name="Alexandria_Backend"
             />
				<messages/>
			</facility>
		</facilities>
	</castle>
</configuration>
