<configuration>
	<configSections>
		<section name="castle"
             type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />
	</configSections>
	<castle>
		<facilities>
			<facility id="rhino.esb" >
				<bus threadCount="1"
             numberOfRetries="5"
             endpoint="rhino.queues://localhost:30132/alexandria_client"
						 name="alexandria_client"
             />
				<messages>
					<add
						name="Alexandria.Messages"
						endpoint="rhino.queues://localhost:51231/alexandria_backend"/>
				</messages>
			</facility>
		</facilities>
	</castle>
</configuration>